body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #191970;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

.logo {
    height: 60px;
    width: auto;
}

nav {
    background-color: #FF8C00;
    color: #fff;
    padding: 0.5em 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 1em;
}

main {
    padding: 1em;
    margin: 0 auto;

    background-image: url('images/bgimage1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

h2 {
    color: #191970;
    text-align: center;
}

h3 {
    color: #000000;
    text-align: center;
}

.latest-container {
    width: 100%;
    max-width: 1000px;
    height: 200px;
    background-color: #FF8C00;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin: 20px auto 40px auto;
}

article {
    background-color: #fff;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article h2 {
    color: #000000;
    text-align: center;
    margin-top: 1;
}

.article-img {
    max-width: 100%;
    width: 600px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1em;
}

.events-container {
    width: 100%;
    max-width: 1200px;
    height: 300px;
    background-color: #FF8C00;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    padding: 16px;
}
.contact-container {
    width: 100%;
    max-width: 500px;
    height: 550px;
    background-color: #FF8C00;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    padding: 16px;
}

footer {
    background-color: #191970;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
